.post-detail-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.post-detail-img {
    max-width: 400px;
    border-radius: 10px;
}

.post-detail-edit-btn a {
    color: white ;
    text-decoration: none;
}

.post-detail-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.post-detail-description {
    background-color: #DDDDDD;
    padding: 15px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-info p {
    margin-left: 1rem;
}

.post-detail-user-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

@media only screen and (min-width: 950px) {
    .post-detail-info{
        margin-top: 2rem;
    }

    .user-info {
        margin-top: 2rem;
    }
}