.userShow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem; 
    flex-wrap: wrap;
}

.userShow-info {
    margin-bottom: 3rem;
}

.user-detail-img {
    max-width: 400px;
    border-radius: 10px;
    border: #234a35 2px solid;
}

.user-detail-post-img {
    height: 100%;
}

.userShow-username {
    margin-top: 2rem;
}

.userShow-name {
    color: #555;
}

.userShow-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.userShow-btns a {
    color: white !important;
    text-decoration: none;
}

/* 
@media only screen and (min-width: 1000px) {
    .userShow-username {
        display: inline-block;
        margin-left: 3rem;
    }
} */